@import "../variables/color-variables";
.bg-transparent{
    background-color: $transparent;
}
.bg-grey-darkest{
    background-color: $grey-darkest;
}
.bg-grey-darker{
    background-color: $grey-darker;
}
.bg-grey-dark{
    background-color: $grey-dark;
}
.bg-grey{
    background-color: $grey;
}
.bg-grey-light{
    background-color: $grey-light;
}
.bg-grey-lighter{
    background-color: $grey-lighter;
}
.bg-grey-lightest{
    background-color: $grey-lightest;
}
.bg-white{
    background-color: $white;
}
.bg-red-darkest{
    background-color: $red-darkest;
}
.bg-red-darker{
    background-color: $red-darker;
}
.bg-red-dark{
    background-color: $red-dark;
}
.bg-red{
    background-color: $red;
}
.bg-red-light{
    background-color: $red-light;
}
.bg-red-lighter{
    background-color: $red-lighter;
}
.bg-red-lightest{
    background-color: $red-lightest;
}
.bg-orange-darkest{
    background-color: $orange-darkest;
}
.bg-orange-darker{
    background-color: $orange-darker;
}
.bg-orange-dark{
    background-color: $orange-dark;
}
.bg-orange{
    background-color: $orange;
}
.bg-orange-light{
    background-color: $orange-light;
}
.bg-orange-lighter{
    background-color: $orange-lighter;
}
.bg-orange-lightest{
    background-color: $orange-lightest;
}
.bg-yellow-darkest{
    background-color: $yellow-darkest;
}
.bg-yellow-darker{
    background-color: $yellow-darker;
}
.bg-yellow-dark{
    background-color: $yellow-dark;
}
.bg-yellow{
    background-color: $yellow;
}
.bg-yellow-light{
    background-color: $yellow-light;
}
.bg-yellow-lighter{
    background-color: $yellow-lighter;
}
.bg-yellow-lightest{
    background-color: $yellow-lightest;
}
.bg-green-darkest{
    background-color: $green-darkest;
}
.bg-green-darker{
    background-color: $green-darker;
}
.bg-green-dark{
    background-color: $green-dark;
}
.bg-green{
    background-color: $green;
}
.bg-green-light{
    background-color: $green-light;
}
.bg-green-lighter{
    background-color: $green-lighter;
}
.bg-green-lightest{
    background-color: $green-lightest;
}
.bg-teal-darkest{
    background-color: $teal-darkest;
}
.bg-teal-darker{
    background-color: $teal-darker;
}
.bg-teal-dark{
    background-color: $teal-dark;
}
.bg-teal{
    background-color: $teal;
}
.bg-teal-light{
    background-color: $teal-light;
}
.bg-teal-lighter{
    background-color: $teal-lighter;
}
.bg-teal-lightest{
    background-color: $teal-lightest;
}
.bg-blue-darkest{
    background-color: $blue-darkest;
}
.bg-blue-darker{
    background-color: $blue-darker;
}
.bg-blue-dark{
    background-color: $blue-dark;
}
.bg-blue{
    background-color: $blue;
}
.bg-blue-light{
    background-color: $blue-light;
}
.bg-blue-lighter{
    background-color: $blue-lighter;
}
.bg-blue-lightest{
    background-color: $blue-lightest;
}
.bg-indigo-darkest{
    background-color: $indigo-darkest;
}
.bg-indigo-darker{
    background-color: $indigo-darker;
}
.bg-indigo-dark{
    background-color: $indigo-dark;
}
.bg-indigo{
    background-color: $indigo;
}
.bg-indigo-light{
    background-color: $indigo-light;
}
.bg-indigo-lighter{
    background-color: $indigo-lighter;
}
.bg-indigo-lightest{
    background-color: $indigo-lightest;
}
.bg-purple-darkest{
    background-color: $purple-darkest;
}
.bg-purple-darker{
    background-color: $purple-darker;
}
.bg-purple-dark{
    background-color: $purple-dark;
}
.bg-purple{
    background-color: $purple;
}
.bg-purple-light{
    background-color: $purple-light;
}
.bg-purple-lighter{
    background-color: $purple-lighter;
}
.bg-purple-lightest{
    background-color: $purple-lightest;
}
.bg-pink-darkest{
    background-color: $pink-darkest;
}
.bg-pink-darker{
    background-color: $pink-darker;
}
.bg-pink-dark{
    background-color: $pink-dark;
}
.bg-pink{
    background-color: $pink;
}
.bg-pink-light{
    background-color: $pink-light;
}
.bg-pink-lighter{
    background-color: $pink-lighter;
}
.bg-pink-lightest{
    background-color: $pink-lightest;
}
.bg-black-darkest{
    background-color: $black-darkest;
}
.bg-black-darker{
    background-color: $black-darker;
}
.bg-black-dark{
    background-color: $black-dark;
}
.bg-black{
    background-color: $black;
}
.bg-black-light{
    background-color: $black-light;
}
.bg-black-lighter{
    background-color: $black-lighter;
}
.bg-black-lightest{
    background-color: $black-lightest;
}
