@import "../variables/color-variables";
.text-transparent{
    color: $transparent;
}
.text-grey-darkest{
    color: $grey-darkest;
}
.text-grey-darker{
    color: $grey-darker;
}
.text-grey-dark{
    color: $grey-dark;
}
.text-grey{
    color: $grey;
}
.text-grey-light{
    color: $grey-light;
}
.text-grey-lighter{
    color: $grey-lighter;
}
.text-grey-lightest{
    color: $grey-lightest;
}
.text-white{
    color: $white;
}
.text-red-darkest{
    color: $red-darkest;
}
.text-red-darker{
    color: $red-darker;
}
.text-red-dark{
    color: $red-dark;
}
.text-red{
    color: $red;
}
.text-red-light{
    color: $red-light;
}
.text-red-lighter{
    color: $red-lighter;
}
.text-red-lightest{
    color: $red-lightest;
}
.text-orange-darkest{
    color: $orange-darkest;
}
.text-orange-darker{
    color: $orange-darker;
}
.text-orange-dark{
    color: $orange-dark;
}
.text-orange{
    color: $orange;
}
.text-orange-light{
    color: $orange-light;
}
.text-orange-lighter{
    color: $orange-lighter;
}
.text-orange-lightest{
    color: $orange-lightest;
}
.text-yellow-darkest{
    color: $yellow-darkest;
}
.text-yellow-darker{
    color: $yellow-darker;
}
.text-yellow-dark{
    color: $yellow-dark;
}
.text-yellow{
    color: $yellow;
}
.text-yellow-light{
    color: $yellow-light;
}
.text-yellow-lighter{
    color: $yellow-lighter;
}
.text-yellow-lightest{
    color: $yellow-lightest;
}
.text-green-darkest{
    color: $green-darkest;
}
.text-green-darker{
    color: $green-darker;
}
.text-green-dark{
    color: $green-dark;
}
.text-green{
    color: $green;
}
.text-green-light{
    color: $green-light;
}
.text-green-lighter{
    color: $green-lighter;
}
.text-green-lightest{
    color: $green-lightest;
}
.text-teal-darkest{
    color: $teal-darkest;
}
.text-teal-darker{
    color: $teal-darker;
}
.text-teal-dark{
    color: $teal-dark;
}
.text-teal{
    color: $teal;
}
.text-teal-light{
    color: $teal-light;
}
.text-teal-lighter{
    color: $teal-lighter;
}
.text-teal-lightest{
    color: $teal-lightest;
}
.text-blue-darkest{
    color: $blue-darkest;
}
.text-blue-darker{
    color: $blue-darker;
}
.text-blue-dark{
    color: $blue-dark;
}
.text-blue{
    color: $blue;
}
.text-blue-light{
    color: $blue-light;
}
.text-blue-lighter{
    color: $blue-lighter;
}
.text-blue-lightest{
    color: $blue-lightest;
}
.text-indigo-darkest{
    color: $indigo-darkest;
}
.text-indigo-darker{
    color: $indigo-darker;
}
.text-indigo-dark{
    color: $indigo-dark;
}
.text-indigo{
    color: $indigo;
}
.text-indigo-light{
    color: $indigo-light;
}
.text-indigo-lighter{
    color: $indigo-lighter;
}
.text-indigo-lightest{
    color: $indigo-lightest;
}
.text-purple-darkest{
    color: $purple-darkest;
}
.text-purple-darker{
    color: $purple-darker;
}
.text-purple-dark{
    color: $purple-dark;
}
.text-purple{
    color: $purple;
}
.text-purple-light{
    color: $purple-light;
}
.text-purple-lighter{
    color: $purple-lighter;
}
.text-purple-lightest{
    color: $purple-lightest;
}
.text-pink-darkest{
    color: $pink-darkest;
}
.text-pink-darker{
    color: $pink-darker;
}
.text-pink-dark{
    color: $pink-dark;
}
.text-pink{
    color: $pink;
}
.text-pink-light{
    color: $pink-light;
}
.text-pink-lighter{
    color: $pink-lighter;
}
.text-pink-lightest{
    color: $pink-lightest;
}
.text-black-darkest{
    color: $black-darkest;
}
.text-black-darker{
    color: $black-darker;
}
.text-black-dark{
    color: $black-dark;
}
.text-black{
    color: $black;
}
.text-black-light{
    color: $black-light;
}
.text-black-lighter{
    color: $black-lighter;
}
.text-black-lightest{
    color: $black-lightest;
}
