/*Text Alignment*/
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-small{
    font-size: .8rem;
}
.text-hide {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    color: transparent;
    text-shadow: none;
}

/*Block Alignment*/
.clear{
   float:left;
   width:100%; 
}
.pull-left{
    float:left;
}
.pull-right{
    float:right;
}

/*Size*/
$font-class-list: (
    'tiny': '.7rem', 
    'small': '1rem', 
    'medium': '1.3rem',
    'large':  '1.6rem',  
    'big': '1.9rem', 
    'huge': '2.2rem',
    'huge-x': '3rem',
    'huge-2x': '3.5rem'
);

@each $current-name,$current-size in $font-class-list {
    .#{$current-name} {
        font-size:#{$current-size} ;
    }
}

/*Padding*/
$font-class-list: (
    'tiny': '.7rem', 
    'small': '1rem', 
    'medium': '1.3rem',
    'large':  '1.6rem'
);

@each $current-name,$current-spacing in $font-class-list {
    .#{$current-name}-spacing {
        padding:#{$current-spacing} ;
    }
}
