@import "../variables/color-variables";

.sidebar{
    position: fixed;
    left: 0;
    top: 79px;
    height: calc(100vh - 79px);
    width: 270px;
    background: #fff;
    box-shadow: 1px 0 10px 0 rgba(69, 81, 97, 0.15);
    overflow: auto;
}
.content{
    width: calc(100% - 270px);
    margin-left: 270px;
    margin-top: 67px;
}
.page-title-block {
    background: #ffffff;
    font-weight: 500;
    padding: 22px 25px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e3ebf4;
    box-shadow: 1px 0 10px 0 rgba(69, 81, 97, 0.15);
}
.markup{
    overflow: auto;
    padding: .9rem;
    border: 1px solid $orange;
    border-left: 4px solid $orange;
    background: #fdf5f0;
}
.output{
    overflow: auto;
    padding: .9rem;
    border: 1px solid $orange;
    background: $orange-light;
}