.sidebar{
    position: fixed;
    left: 0;
    top: 67px;
    height: calc(100vh - 69px);
    width: 230px;
    background: #fff;
    box-shadow: 1px 0 10px 0 rgba(69, 81, 97, 0.15);
    overflow: auto;
}
.content{
    width: calc(100% - 230px);
    margin-left: 230px;
    margin-top: 67px;
    padding: 15px;
}