@import "../variables/color-variables";
@import "../mixins/transition-mixin";
.button{
    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background-color: $grey-light;
    color: $black-lighter;
    font-family: Arial,sans-serif;
    font-size: inherit;
    line-height: 1;
    font-style: normal;
    min-width: 90px;
    text-align: center;
    margin-right: .25rem;
    padding: .7rem 1rem .7rem;
    text-transform: none;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    @include transition(background-color .5s ease,color .5s ease);
}
.button:hover,.button:focus{
    background: $grey;
    outline: 0;
}
/**Transparent bg Button**/
.basic{
    background-color: transparent;
}
.basic:hover,
.basic:active{
    background-color: transparent;
}