<!DOCTYPE html>
<html>
    <head>
        <title>WUI - A lightweight and modular front-end framework.</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link href="../dist/css/main.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header class="flex">
            <h1 class="logo"><a href="#">WebUIKit</a></h1>
            <div class="right-links">
                <a href="https://github.com/harishbhati/UI-Components" class="button btn-olive basic border-rounded">DOWNLOAD</a>
            </div>
        </header>
        <!-- header ends -->
        <section>
            <aside class="sidebar">
                    <ul class="unstyled-list item">
                        <li class="item-header">Getting started</li>
                        <li><a href="">Introduction</a></li>
                        <li><a href="">Installation</a></li>
                        <li><a href="">Sass</a></li>
                    </ul>
                    <ul class="unstyled-list item">
                        <li class="item-header">Usage</li>
                        <li><a href="">Layouts</a></li>
                        <li><a href="">Themes</a></li>
                    </ul>
                    <ul class="unstyled-list item">
                        <li class="item-header">Global CSS</li>
                        <li><a href="">Reset</a></li>
                        <li><a href="">Helpers</a></li>
                    </ul>
                    <ul class="unstyled-list item">
                        <li class="item-header">Elements</li>
                        <li><a href="">Container</a></li>
                        <li><a href="">Color</a></li>
                        <li><a href="">Transitions</a></li>
                        <li><a href="">Vertical Center</a></li>
                        <li><a href="">Button</a></li>
                        <li><a href="">Border</a></li>
                        <li><a href="">Border Radius</a></li>
                        <li><a href="">Inputs &amp; Label</a></li>
                        <li><a href="">Divider</a></li>
                        <li><a href="">Lists</a></li>
                        <li><a href="">Images</a></li>
                    </ul>
                    <ul class="unstyled-list item">
                        <li class="item-header">Views</li>
                        <li><a href="">Card</a></li>
                        <li><a href="">Forms</a></li>
                        <li><a href="">Grid</a></li>
                        <li><a href="">Header</a></li>
                        <li><a href="">Menu</a></li>
                        <li><a href="">Breadcrumb</a></li>
                    </ul>
                    <ul class="unstyled-list item">
                        <li class="item-header">Modules</li>
                        <li><a href="">Accordian</a></li>
                        <li><a href="">Dropdown</a></li>
                        <li><a href="">Radio</a></li>
                        <li><a href="">Checkbox</a></li>
                        <li><a href="">Popup</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Sidebar</a></li>
                        <li><a href="">Tabs</a></li>
                        <li><a href="">Sticky</a></li>
                    </ul>
            </aside>
            <main class="content">
                <section>
                    <h3>Standard Button</h3>
                    <button class="button">Standard</button>
                </section>
                
                <!--Basic Buttons-->
                <section>
                    <h3>Basic Buttons</h3>
                    <button class="button btn-red">Red Button</button>
                    <button class="button btn-orange">Orange Button</button>
                    <button class="button btn-yellow">Yellow Button</button>
                    <button class="button btn-olive">Olive Button</button>
                    <button class="button btn-green">Green Button</button>
                    <button class="button btn-teal">Teal Button</button>
                    <button class="button btn-blue">Blue Button</button>
                    <button class="button btn-violet">Violet Button</button>
                    <button class="button btn-purple">Purple Button</button>
                    <button class="button btn-pink">Pink Button</button>
                    <button class="button btn-brown">Brown Button</button>
                    <button class="button btn-grey">Grey Button</button>
                    <button class="button btn-black">Black Button</button>
                </section>
                
                <!--Outline Buttons-->
                <section>
                    <h3>Outline Buttons</h3>
                    <button class="button basic red">Red Outline</button>
                    <button class="button basic orange">Orange Outline</button>
                    <button class="button basic yellow">Yellow Outline</button>
                    <button class="button basic olive">Olive Outline</button>
                    <button class="button basic green">Green Outline</button>
                    <button class="button basic teal">Teal Outline</button>
                    <button class="button basic blue">Blue Outline</button>
                    <button class="button basic violet">Violet Outline</button>
                    <button class="button basic purple">Purple Outline</button>
                    <button class="button basic pink">Pink Outline</button>
                    <button class="button basic brown">Brown Outline</button>
                    <button class="button basic grey">Grey Outline</button>
                    <button class="button basic black">Black Outline</button>
                </section>
                
                <!--Inverted Buttons-->
                <section>
                    <h3>Inverted Buttons</h3>
                    <button class="button basic red inverted">Red Inverted</button>
                    <button class="button basic orange inverted">Orange Inverted</button>
                    <button class="button basic yellow inverted">Yellow Inverted</button>
                    <button class="button basic olive inverted">Olive Inverted</button>
                    <button class="button basic green inverted">Green Inverted</button>
                    <button class="button basic teal inverted">Teal Inverted</button>
                    <button class="button basic blue inverted">Blue Inverted</button>
                    <button class="button basic violet inverted">Violet Inverted</button>
                    <button class="button basic purple inverted">Purple Inverted</button>
                    <button class="button basic pink inverted">Pink Inverted</button>
                    <button class="button basic brown inverted">Brown Inverted</button>
                    <button class="button basic grey inverted">Grey Inverted</button>
                    <button class="button basic black inverted">Black Inverted</button>
                </section>
                
                <!--Group Horizontal Buttons-->
                <section>
                <h3>Group Horizontal Buttons</h3>
                    <div class="inline-buttons">
                        <button class="button btn-red">Save</button>
                            <span class="or btn-yellow" data-after="&"></span>
                        <button class="button btn-orange">Cancel</button>
                    </div>
                    <div class="inline-buttons">
                        <button class="button btn-grey">Button Group</button>
                        <button class="button btn-black">Button Group</button>
                        <button class="button btn-grey">Button Group</button>
                    </div>
                </section>
                
                <!--Group Horizontal Buttons-->
                <section>
                    <h3>Group Vertical Buttons</h3>
                    <div class="vertical-buttons">
                        <button class="button btn-grey">Button Vertical group</button>
                        <button class="button btn-grey">Button Vertical group</button>
                        <button class="button btn-grey">Button Vertical group</button>
                    </div>
                </section>
                
                <!--Buttons Border Radius-->
                <section>
                    <h3>Buttons Border Radius</h3>
                    <button class="button btn-blue radius-0">Radius 0</button>
                    <button class="button btn-blue radius-1">Radius 1</button>
                    <button class="button btn-blue radius-2">Radius 2</button>
                    <button class="button btn-blue radius-3">Radius 3</button>
                    <button class="button btn-blue radius-4">Radius 4</button>
                    <button class="button btn-blue radius-5">Radius 5</button>
                    <button class="button btn-blue border-rounded">Rounded Border</button>
                </section>
                
                <!--Buttons Sizes-->
                <section>
                    <h3>Buttons Sizes</h3>
                    <button class="button btn-blue tiny-btn">Tiny</button>
                    <button class="button btn-blue small-btn">Small</button>
                    <button class="button btn-blue medium-btn">Medium</button>
                    <button class="button btn-blue big-btn">Big</button>
                    <button class="button btn-blue huge-btn">Huge</button>
                </section>
            </main>
        </section>


        
    </body>
</html>