
.icon-block {
    display: inline-block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    position: relative;
}
.font-x1{
    font-size:1rem;
}
.font-x2{
    font-size:2rem;
}
.font-x3{
    font-size:3rem;
}
.font-x4{
    font-size:4rem;
}
.font-x5{
    font-size:5rem;
}