@import '../mixins/flex-mixin';
/*Flexbox*/
$flex-display-list: flex inline-flex;

@each $flex-name in $flex-display-list{
    .#{$flex-name}{
        display: #{$flex-name};
    }
}

/*Flexbox Horizontal Alignment*/
$flex-content-list: (
    'left': 'flex-start',
    'center': 'center',
    'right': 'flex-end',
    'between': 'space-between',
    'around': 'space-around'
    );

@each $align-name,$justify in $flex-content-list{
    .flex-#{$align-name}{
        @include justify-content($justify);
    }
}

/*Flexbox Vertical Alignment*/
$flex-item-list: (
    'stretch': 'stretch',
    'top': 'flex-start',
    'middle': 'center',
    'bottom': 'flex-end'
    );

@each $align-name,$align in $flex-item-list{
    .flex-#{$align-name}{
        @include align-items($align);
    }
}

/*Flexbox Row Breaking*/
$flex-wrap-list: wrap wrap-reverse nowrap;

@each $wrap in $flex-wrap-list{
    .flex-#{$wrap}{
        @include flex-wrap($wrap);
    }
}

/*Flexbox Row & Column Directions*/
$flex-wrap-list: row row-reverse column column-reverse;

@each $direction in $flex-wrap-list{
    .flex-#{$direction}{
        @include flex-direction($direction);
    }
}

/*Flexbox Order*/
@for $o from 1 through 10{
    .flex-order-#{$o}{
        order: #{$o};
    }
}