@import "../../variables/color-variables";

/**Outline Buttons**/
$border-color-list: (
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'olive': $olive,
    'green': $green,
    'teal': $teal,
    'blue': $blue,
    'violet': $violet,
    'purple': $purple,
    'pink': $pink,
    'brown': $brown,
    'grey': $grey,
    'black': $black,
    'white': $white,
);

@each $color-name,$color-code in $border-color-list {
    .#{$color-name} {
        border-color: #{$color-code};
        color:#{$color-code};
        &:hover,&:focus,&:active {
            color: rgba($color-code, 0.8)
        }

    }
}