@import "../../variables/color-variables";


/**Outline Buttons**/
$border-color-list: (
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'olive': $olive,
    'green': $green,
    'teal': $teal,
    'blue': $blue,
    'violet': $violet,
    'purple': $purple,
    'pink': $pink,
    'brown': $brown,
    'grey': $grey,
    'black': $black
);

@each $color-name,$color-code in $border-color-list {
    .btn-#{$color-name} {
        background-color: #{$color-code}; 
        color:$white;
        &:hover,&:active{
            background-color: darken($color-code, 8%);
        }
        &.or {
            background-color: transparent;
            color: $white;
            &:before {
                background-color: #{$color-code};
            }
        }
    }
}