.breadcrumb {
    width: 100%;
    padding: 1em 1em;
    margin: 1em 0;
    background-color: #edeff0;
    border-radius: .25em;

    li {
        position: relative;
        margin-left: 0;
        &:after {
            display: inline-block;
            margin: 0 12px;
        }
        a{
            display: inline-block;
        }
        &.current{
            &:after{
                content: none !important;
            }
        }
    }

    &.breadcrumb-double-arrow {
        li {
            &:after {
                content: '>>';
            }
        }
    }
    &.breadcrumb-arrow {
        li {
            &:after {
                content: '>';
            }
        }
    }
    &.breadcrumb-slash {
        li {
            &:after {
                content: '/';
            }
        }
    }
    &.breadcrumb-angle-arrow {
        li {
            &:after {
                content: '→';
            }
        }
    }
}