@import "../mixins/gradient-mixin";
/*Color Variable*/
$transparent : transparent;
$red : #db2828;
$red-dark: darken($red, 15%);
$red-light: lighten($red, 10%);
$orange : #f2711c;
$orange-dark: darken($orange, 15%);
$orange-light: lighten($orange, 10%);
$yellow : #fbbd08;
$yellow-dark: darken($yellow, 15%);
$yellow-light: lighten($yellow, 10%);
$olive : #b5cc18;
$olive-dark: darken($olive, 15%);
$olive-light: lighten($olive, 10%);
$green : #21ba45;
$green-dark: darken($green, 15%);
$green-light: lighten($green, 10%);
$teal : #00b5ad;
$teal-dark: darken($teal, 15%);
$teal-light: lighten($teal, 10%);
$blue : #2185d0;
$blue-dark: darken($blue, 15%);
$blue-light: lighten($blue, 10%);
$violet : #6435c9;
$violet-dark: darken($violet, 15%);
$violet-light: lighten($violet, 10%);
$purple : #a333c8;
$purple-dark: darken($purple, 15%);
$purple-light: lighten($purple, 10%);
$pink : #e03997;
$pink-dark: darken($pink, 15%);
$pink-light: lighten($pink, 10%);
$brown : #a5673f;
$brown-dark: darken($brown, 15%);
$brown-light: lighten($brown, 10%);
$grey : #767676;
$grey-dark: darken($grey, 15%);
$grey-light: lighten($grey, 10%);
$black : #1b1c1d;
$black-dark : darken($black, 15%);
$black-light : lighten($black, 10%);
$white : #ffffff;
$white-dark : darken($white, 10%);
$white-light : darken($white, 5%); 

/*Gradient Variables*/
$mild-start: #67b26f;
$mild-end: #4ca2cd;
.mild{
    @include linear-gradient-b(to left, $mild-start, $mild-end);
}

$nepal-start: #de6161;
$nepal-end: #2657eb;
.nepal{
    @include linear-gradient-b(to left, $nepal-start, $nepal-end);
}

$ofgrey-start: #bdc3c7;
$ofgrey-end: #2c3e50;
.ofgrey{
    @include linear-gradient-b(to left, $ofgrey-start, $ofgrey-end);
}

$firewatch-start: #cb2d3e;
$firewatch-end: #ef473a;
.firewatch{
    @include linear-gradient-b(to left, $firewatch-start, $firewatch-end);
}

$grapefruitsunset-start: #e96443;
$grapefruitsunset-end: #904e95;
.grapefruitsunset{
    @include linear-gradient-b(to left, $grapefruitsunset-start, $grapefruitsunset-end);
}

$sweetmorning-start: #ff5f6d;
$sweetmorning-end: #ffc371;
.sweetmorning{
    @include linear-gradient-b(to left, $sweetmorning-start, $sweetmorning-end);
}

$purplewhite-start: #ba5370;
$purplewhite-end: #f4e2d8;
.purplewhite{
    @include linear-gradient-b(to left, $purplewhite-start, $purplewhite-end);
}

$decent-start: #4ca1af;
$decent-end: #c4e0e5;
.decent{
    @include linear-gradient-b(to left, $decent-start, $decent-end);
}

$deepspace-start: #000000;
$deepspace-end: #434343;
.deepspace{
    @include linear-gradient-b(to left, $deepspace-start, $deepspace-end);
}

$forest-start: #5a3f37;
$forest-end: #2c7744;
.forest{
    @include linear-gradient-b(to left, $forest-start, $forest-end);
}

$haikus-start: #fd746c;
$haikus-end: #ff9068;
.haikus{
    @include linear-gradient-b(to left, $haikus-start, $haikus-end);
}
$redtoyelloe-start: #c02425;
$redtoyelloe-end: #f0cb35;
.redtoyelloe{
    @include linear-gradient-b(to left, $redtoyelloe-start, $redtoyelloe-end);
}

$lightorange-start: #ffb75e;
$lightorange-end: #ed8f03;
.lightorange{
    @include linear-gradient-b(to left, $lightorange-start, $lightorange-end);
}
$greytoolive-start: #ccccb2;
$greytoolive-end: #757519;
.greytoolive{
    @include linear-gradient-b(to left, $greytoolive-start, $greytoolive-end);
}
$metallictoad-start: #abbaab;
$metallictoad-end: #ffffff;
.metallictoad{
    @include linear-gradient-b(to left, $metallictoad-start, $metallictoad-end);
}