$transparent : transparent;
$grey-darkest : #3d4852;
$grey-darker : #606f7b;
$grey-dark : #838383;
$grey : #767676;
$grey-light : #dae1e7;
$grey-lighter : #f1f5f8;
$grey-lightest : #f8fafc;
$white : #ffffff;
$red-darkest : #3b0d0c;
$red-darker : #621b18;
$red-dark : #d01919;
$red : #db2828;
$red-light : #ef5753;
$red-lighter : #f9acaa;
$red-lightest : #fcebea;
$orange-darkest : #462a16;
$orange-darker : #613b1f;
$orange-dark : #f26202;
$orange : #f2711c;
$orange-light : #faad63;
$orange-lighter : #fcd9b6;
$orange-lightest : #fff5eb;
$yellow-darkest : #453411;
$yellow-darker : #684f1d;
$yellow-dark : #eaae00;
$yellow : #fbbd08;
$yellow-light : #fff382;
$yellow-lighter : #fff9c2;
$yellow-lightest : #fcfbeb;
$green-darkest : #0f2f21;
$green-darker : #1a4731;
$green-dark : #16ab39;
$green : #21ba45;
$green-light : #51d88a;
$green-lighter : #a2f5bf;
$green-lightest : #e3fcec;
$teal-darkest : #0d3331;
$teal-darker : #20504f;
$teal-dark : #009c95;
$teal : #00b5ad;
$teal-light : #64d5ca;
$teal-lighter : #a0f0ed;
$teal-lightest : #e8fffe;
$blue-darkest : #12283a;
$blue-darker : #1c3d5a;
$blue-dark : #1678c2;
$blue : #2185d0;
$blue-light : #6cb2eb;
$blue-lighter : #bcdefa;
$blue-lightest : #eff8ff;
$indigo-darkest : #191e38;
$indigo-darker : #2f365f;
$indigo-dark : #5661b3;
$indigo : #6574cd;
$indigo-light : #7886d7;
$indigo-lighter : #b2b7ff;
$indigo-lightest : #e6e8ff;
$purple-darkest : #21183c;
$purple-darker : #382b5f;
$purple-dark : #9627ba;
$purple : #a333c8;
$purple-light : #a779e9;
$purple-lighter : #d6bbfc;
$purple-lightest : #f3ebff;
$pink-darkest : #451225;
$pink-darker : #6f213f;
$pink-dark : #e61a8d;
$pink : #e03997;
$pink-light : #fa7ea8;
$pink-lighter : #ffbbca;
$pink-lightest : #ffebef;
$black-darkest : #000000;
$black-darker : #232323;
$black-dark : #27292a;
$black : #1b1c1d;
$black-light : #353c42;
$black-lighter : #454545;
$black-lightest : #737373; 
$violet : #6435c9;
$violet-dark : #5829bb;
$olive : #b5cc18;
$olive-dark : #a7bd0d;
$brown : #a5673f;
$brown-dark : #975b33;






