/*Color Variable*/
$transparent : transparent;
$reda : rgba(219, 40, 40, 0.3);
$red : #db2828;
$red-dark: darken($red, 15%);
$red-light: lighten($red, 10%);
$orangea : rgba(242, 113, 28, 0.3);
$orange : #f2711c;
$orange-dark: darken($orange, 15%);
$orange-light: lighten($orange, 10%);
$yellowa : rgba(251, 189, 8, 0.3);
$yellow : #fbbd08;
$yellow-dark: darken($yellow, 15%);
$yellow-light: lighten($yellow, 10%);
$olivea : rgba(181, 204, 24, 0.3);
$olive : #b5cc18;
$olive-dark: darken($olive, 15%);
$olive-light: lighten($olive, 10%);
$greena : rgba(33, 186, 69, 0.3);
$green : #21ba45;
$green-dark: darken($green, 15%);
$green-light: lighten($green, 10%);
$teala : rgba(0, 181, 173, 0.3);
$teal : #00b5ad;
$teal-dark: darken($teal, 15%);
$teal-light: lighten($teal, 10%);
$bluea : rgba(33, 133, 208, 0.3);
$blue : #2185d0;
$blue-dark: darken($blue, 15%);
$blue-light: lighten($blue, 10%);
$violeta : rgba(100, 53, 201, 0.3);
$violet : #6435c9;
$violet-dark: darken($violet, 15%);
$violet-light: lighten($violet, 10%);
$purplea : rgba(163, 51, 200, 0.3);
$purple : #a333c8;
$purple-dark: darken($purple, 15%);
$purple-light: lighten($purple, 10%);
$pinka : rgba(224, 57, 151, 0.3);
$pink : #e03997;
$pink-dark: darken($pink, 15%);
$pink-light: lighten($pink, 10%);
$browna : rgba(165, 103, 63, 0.3);
$brown : #a5673f;
$brown-dark: darken($brown, 15%);
$brown-light: lighten($brown, 10%);
$greya : rgba(118, 118, 118, 0.4);
$grey : #767676;
$grey-dark: darken($grey, 15%);
$grey-light: lighten($grey, 10%);
$blacka : rgba(0, 0, 0, 0.3);
$black : #1b1c1d;
$black-dark : darken($black, 15%);
$black-light : lighten($black, 10%);
$whitea : rgba(255, 255, 255, 0.3);
$white : #ffffff;
$white-dark : darken($white, 10%);
$white-light : darken($white, 5%); 