@import "../variables/color-variables";
@import "../mixins/radius-mixin";

/**Border Radius**/
@for $r from 0 through 5 {
    .radius-#{$r} {
        border-radius: $r * 1px;
    }
}

.border-rounded {
    border-radius: 25px;
}

.rounded {
    border-radius: 50%;
}