@import "../variables/color-variables";
@import "../mixins/radius-mixin";

.radius-1{
    border-radius:1px;
}
.radius-2{
    border-radius:2px;
}
.radius-3{
    border-radius:3px;
}
.radius-4{
    border-radius:4px;
}
.radius-5{
    border-radius:5px;
}
.radius-0{
    border-radius:0;
}
.border-rounded{
    border-radius:50px;
}
.rounded{
    border-radius:50%;
}