@import "../variables/color-variables";

/**Border Width**/
@for $w from 1 through 5 {
    %border-#{$w} {
        border-width: $w * 1px;
    }
}

/**Border Styles**/
$border-style-list: solid dashed dotted;

@each $current-border in $border-style-list {
    %border-#{$current-border} {
        border-style: #{$current-border};
    }
}

/**Border Colors**/
$border-color-list: (
    'red': $red,
    'grey': $grey,
    'white': $white,
    'orange': $orange,
    'yellow': $yellow,
    'blue': $blue,
    'indigo': $indigo,
    'purple': $purple,
    'pink': $pink,
    'black': $black
);

@each $color-name,$color-code in $border-color-list {
    %border-#{$color-name} {
        border-color: #{$color-code};
    }
}

// .icon{
//     @extend %border-orange;
//     color:$grey-lighterrr;
// }