@import "../variables/color-variables";


.border{
    border: 1px solid transparent;
}
.border-top {
    border-top: 1px solid transparent;
}
.border-bottom {
    border-bottom: 1px solid transparent;
}
.border-left {
    border-left: 1px solid transparent;
}
.border-right {
    border-right: 1px solid transparent;
}
/**Border Width**/
@for $w from 1 through 5 {
    .border-#{$w} {
        border-width: $w * 1px;
    }
}

/**Border Styles**/
$border-style-list: solid dashed dotted;

@each $current-border in $border-style-list {
    .border-#{$current-border} {
        border-style: #{$current-border};
    }
}

/**Border Colors**/
$border-color-list: (
    'red': $red,
    'orange': $orange,
    'yellow': $yellow,
    'olive': $olive,
    'green': $green,
    'teal': $teal,
    'blue': $blue,
    'violet': $violet,
    'purple': $purple,
    'pink': $pink,
    'brown': $brown,
    'grey': $grey,
    'black': $black,
    'white': $white,
    'transparent': 'transparent'
);

@each $color-name,$color-code in $border-color-list {
    .border-#{$color-name} {
        border-color: #{$color-code};
    }
}
.box-shadow{
    box-shadow: 1px 0 10px 0 rgba(69, 81, 97, 0.15);
}
